<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Emp:</b>
  <%= @employee.emp_id %>
</p>

<p>
  <b>Project:</b>
  <%= @employee.project_id %>
</p>
 
<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
